<div class="pt-12" [ngSwitch]="status">
  <app-content-card *ngSwitchCase="'Idle'">
    <div class="px-2 pb-2">
      <a routerLink="/" class="text-gray-600">< Cancel</a>
    </div>
    <h1 class="text-2xl text-center">Confirmation</h1>
    <div class="text-center">
      <span class="text-xl">RM</span>
      <span class="text-6xl">
        {{ (params$ | async).amount }}
      </span>
    </div>
    <div class="text-center p-3 mx-auto max-w-sm">
      <app-button
        (invoke)="onConfirm()"
        [isLoading]="status === 'Processing'"
        [classes]="'w-full'"
        >Confirm</app-button
      >
    </div>
  </app-content-card>
  <app-content-card *ngSwitchCase="'Processing'">
    <div class="text-center p-12">
      <app-spinner></app-spinner>
    </div>
  </app-content-card>
  <app-content-card *ngSwitchCase="'Success'">
    <p class="text-center text-4xl text-green-500">Success!</p>
    <div class="w-24 mx-auto mb-8">
      <app-icon-check></app-icon-check>
    </div>
  </app-content-card>
  <app-content-card *ngSwitchCase="'Error'">
    <h1 class="text-center text-4xl text-red-800">Failed</h1>
    <p class="text-center py-4">Sorry, please try again later.</p>
  </app-content-card>
</div>
