<app-header></app-header>
<app-content-card>
  <div class="px-2 pb-2">
    <a routerLink="/" class="text-gray-600">< Back</a>
  </div>
  <div class="px-2 pb-3">
    <h1 class="text-xl mb-3 text-gray-700">Past Transactions</h1>
    <div *ngFor="let order of orders$ | async">
      <app-list-item>
        <div class="p-2">
          <div class="flex justify-between items-center">
            <p class="text-xl">RM {{ order.total }}</p>
            <span>{{ order.status }}</span>
          </div>
          <div>
            <small>
              {{ order.updatedAt }}
            </small>
          </div>
        </div>
      </app-list-item>
    </div>
  </div>
</app-content-card>
